/* ====================== Media Queries ====================== */
@media screen and (min-width:958px) and (max-width: 1123px) {
    #restaurants-list li {
      min-height: 300px;
      padding: 30px 0 10px 30px;
      width: 220px;
    }
  
    #restaurants-list p {
      font-size: 11pt;
    }
  
    #restaurants-list .restaurant-img {
      max-width: 85%;
    }
  
    .restaurant-link {
      font-size: 9pt;
      padding: 8px 52px 10px;
    }
  }
  
  @media screen and (min-width:550px) and (max-width: 957px) {
    #restaurants-list li {
      min-height: 270px;
      padding: 30px 0 10px 30px;
      width: 191px;
    }
  
    #restaurants-list p {
      font-size: 10pt;
    }
  
    #restaurants-list .restaurant-img {
      max-width: 85%;
    }
  
    #restaurants-list li a {
      font-size: 9pt;
      margin: 15px 0 0;
      padding: 8px 42px 10px;
    }
  
    nav h1 a {
      font-size: 13pt;
    }

    #restaurant-container {
       flex-direction: column;
    }
    
    #restaurant-info {
       padding: 0 0 25px 40px;
       width: 100%;
    }
       
    #restaurant-img {
      max-width: 60%;
    }
    
    #restaurant-cuisine {
      max-width: 60%;
    }
  }
  
  @media screen and (min-width:425px) and (max-width: 549px) {
    #restaurants-list li {
      min-height: 163px;
      padding: 10px 0 10px 20px;
      width: 330px;
    }
  
    #restaurants-list p {
      font-size: 11pt;
    }
  
    #restaurants-list .restaurant-img {
      max-width: 94%;
      margin-top: 3%;
    }
  
    .restaurant-link {
      font-size: 10pt;
      padding: 8px 109px 10px;
    }
  
    .filter-options select {
      font-size: 10pt;
      width: 154px;
    }

    nav h1 a {
      font-size: 11pt;
    }
  
    #restaurant-container {
      flex-direction: column;
    }
    
    #restaurant-info {
        padding: 0 0 25px 40px;
        width: 100%;
    }
       
    #restaurant-img {
      max-width: 93%;
    }
    
    #restaurant-cuisine {
      max-width: 93%;
    }

    .restaurant-hours-block {
      flex-direction: column;
    }
  }
  @media screen and (min-width:321px) and (max-width: 424px) {
    #restaurants-list li {
      min-height: 163px;
      padding: 10px 0 10px 20px;
      width: 250px;
    }
  
    #restaurants-list li h1 {
      font-size: 12pt;
    }
  
    #restaurants-list p {
      font-size: 10pt;
    }
  
    #restaurants-list .restaurant-img {
        max-width: 91%;
        margin-top: 4%;
    }
  
    .restaurant-link {
      font-size: 10pt;
      padding: 8px 69px 10px;
    }
  
    .filter-options select {
      font-size: 8.5pt;
      width: 137px;
    }
  
    nav h1 a {
      font-size: 9.7pt;
    }

    #restaurant-container {
        flex-direction: column;
      }
    
    #restaurant-info {
       padding: 0 0 25px 40px;
       width: 100%;
    }
       
    #restaurant-img {
       max-width: 90%;
    }
    
    #restaurant-cuisine {
       max-width: 90%;
    }

    .restaurant-hours-block {
      flex-direction: column;
    }

    #restaurant-name {
        margin: 15px 0 20px;
    }
  }

  @media screen and (max-width:320px) {
    h1 {
        display: flex;
        flex-wrap: wrap;
        margin-left: 10px;
        font-size: 9pt;
    }
    
    h2 {
        max-height: 70px;
        font-size: 12.5pt;
        padding-bottom: 15px;
    }

    .filter-options {
        height: 150px;
    }
    
    .filter-options select {
        font-size: 8.5pt;
        width: 137px;
    }
  }