/* ====================== Media Queries ====================== */
@media screen and (min-width:900px) and (max-width: 1123px) {
    #restaurants-list li {
      min-height: 300px;
      padding: 30px 0 10px 30px;
      width: 220px;
    }
  
    #restaurants-list li h1 {
      font-size: 11pt;
    }
  
    #restaurants-list p {
      font-size: 9pt;
    }
  
    #restaurants-list .restaurant-img {
      max-width: 85%;
    }
  
    #restaurants-list li a {
      font-size: 9pt;
      margin: 15px 0 0;
      padding: 8px 52px 10px;
    }
  }
  
  @media screen and (min-width:550px) and (max-width: 899px) {
    #restaurants-list li {
      min-height: 270px;
      padding: 30px 0 10px 30px;
      width: 191px;
    }
  
    #restaurants-list li h1 {
      font-size: 9pt;
    }
  
    #restaurants-list p {
      font-size: 8pt;
    }
  
    #restaurants-list .restaurant-img {
      max-width: 85%;
    }
  
    #restaurants-list li a {
      font-size: 9pt;
      margin: 15px 0 0;
      padding: 8px 42px 10px;
    }
  
    nav h1 a {
      font-size: 13pt;
    }
  }
  
  @media screen and (min-width:400px) and (max-width: 750px) {
    #restaurant-container {
      flex-direction: column;
    }
  
    #restaurant-info {
      padding: 55px 0 25px 40px;
    }
     
    #restaurant-img {
      max-width: 70%;
    }
  
    #restaurant-cuisine {
      max-width: 70%;
    }
  }
  
  @media screen and (min-width:425px) and (max-width: 549px) {
    #restaurants-list li {
      min-height: 163px;
      padding: 10px 0 10px 20px;
      width: 330px;
    }
  
    #restaurants-list li h1 {
      font-size: 13pt;
    }
  
    #restaurants-list p {
      font-size: 11pt;
    }
  
    #restaurants-list .restaurant-img {
      max-width: 0;
    }
  
    #restaurants-list li a {
      font-size: 10pt;
      padding: 8px 109px 10px;
    }
  
    .filter-options select {
      font-size: 10pt;
      width: 154px;
    }
    nav h1 a {
    font-size: 11pt;
    }
  
    #map {
    height: 350px;
    }
  
  }
  @media screen and (max-width: 424px) {
    #restaurants-list li {
      min-height: 163px;
      padding: 10px 0 10px 20px;
      width: 250px;
    }
  
    #restaurants-list li h1 {
      font-size: 12pt;
    }
  
    #restaurants-list p {
      font-size: 9.5pt;
    }
  
    #restaurants-list .restaurant-img {
      max-width: 0;
    }
  
    #restaurants-list li a {
      font-size: 10pt;
      padding: 8px 69px 10px;
    }
  
    .filter-options select {
      font-size: 8.5pt;
      width: 137px;
    }
  
    nav h1 a {
      font-size: 9.7pt;
    }
  
    #map {
      height: 300px;
    }
  }