@charset "utf-8";
/* CSS Document */

body, p, td, th {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
}

body {
	background-color: #fdfdfd;
	margin: 0;
	position: relative;
}

li, ul {
  color: #333;
  display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover, a:focus {
	text-decoration: underline;
}

a img {
	border: none 0 #fff;
}

h1, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

h2 {
  color: #C03221;
  font-size: 14pt;
  font-weight: 200;
  height: 40px;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}


article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

#secondary-content {
  background-color: #f3f3f3;
}

#footer {
  background-color: #545E75;
  color: #dddcdc;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */
nav {
  background-color: #545E75;
  height: 80px;
  text-align: center;
}

nav, h1 {
  font-size: 16pt;
  letter-spacing: 9px;
  line-height: 3.8;
  margin: 0;
  text-transform: uppercase;
}

#breadcrumb {
    background-color: #eee;
    display: block;
    font-size: 17px;
    letter-spacing: 0;
    line-height: 1.3;
    list-style: none;
    margin: 0;
    padding: 15px 3px 15px 40px;
    text-align: left;
    text-transform: none;
    width: -webkit-fill-available;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    color: black;
    content: "/\00a0";
    padding: 8px;
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0963b1;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
  background-color: #ccc;
  height: 400px;
  width: 100%;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  background-color: #29755d;
  height: 100px;
}

.filter-options-header {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  height: 20px;
  line-height: 2;
  margin: 0 20px;
  text-transform: none;
}

.filter-options select {
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
}

#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 30px 30px 0;
  text-align: left;
  max-width: 100%;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
}

#restaurants-list p {
  font-size: 11pt;
  margin: 0;
}

.restaurant-link {
  background-color: #29755d;
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 20px;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details Secondary Page ====================== */

/* Header */
.inside header {
  height: 125px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/*Restaurant Information */
#restaurant-name {
  color: #C03221;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.1;
  margin: 15px 0 15px;
  text-transform: uppercase;
}

#restaurant-img {
  max-width: 90%;
}

#restaurant-side {
  order: 1;
  padding: 5px 0 25px 40px;
}

#restaurant-info {
  font-size: 14pt;
  order: 2;
  padding: 70px 0 0 0;
  width: 50%;
}

#restaurant-info h3 {
  color: #29755d;
  font-size: 17pt;
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 10px;
  padding: 0;
}

#restaurant-cuisine {
  background-color: #29755d;
  color: #fff;
  font-size: 12pt;
  font-weight: 600;
  letter-spacing: 8px;
  margin: 0 0 20px;
  max-width: 90%;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
}

#restaurant-container {
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  flex-direction: row;
  width: 100%;
}

#restaurant-address {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
}

#restaurant-hours {
  height: 50%;
  width: 90%;
}

#restaurant-hours td {
  color: #000;
}

.restaurant-hours-block {
  display: flex;
  flex-direction: row;
}

.restaurant-day {
  order: 1;
  width: 35%;
}

.restaurant-time {
  order: 2;
  width: 65%;
}

/* Map */
.inside #map-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 25px 40px 40px 40px;
}

.inside #map {
  background-color: #ccc;
}

#map-information {
  color: #29755d;
  font-size: 17pt;
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 10px;
  padding: 0;
}

/* Reviews */
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 25px 0 0 40px;
}

#reviews-container h3 {
  color: #29755d;
  font-size: 17pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 40px 40px 0;
  padding: 20px 20px 10px 20px;
  position: relative;
  width: auto;
}

#reviews-list h4 {
  color: #29755d;
  font-size: 13pt;
  font-weight: 300;
  letter-spacing: -1px;
  margin: 0;
  padding-bottom: 1pt;
}

#reviews-list li p {
  margin: 0 0 10px;
}

/* ====================== Skip Link ====================== */
a.skip-main {
  height: 1px;
  left: -999px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
  z-index: -999;
}
a.skip-main:focus, a.skip-main:active {
  background-color:#29755d;
  border: 4px solid white;
  border-radius: 15px;
  color: #fff;
  font-size: 1.2em;
  height: auto;
  left: auto;
  margin: 10px 35%;
  overflow: auto;
  padding: 5px;
  text-align: center;
  top: auto;
  width: 30%;
  z-index: 999;
}